html,
body {
    height: 100%;
}

#shopping {
    height: 100%;
    width: 100%;
    position: relative;
}

.content {
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}

/* sss */
#shopping .wire:hover {
    border-bottom: 1px solid red;
    color: #da3a4c;
}

#shopping .color:hover {
    color: #da3a4c;
}

#shopping .line:hover {
    border-bottom: 1px solid white;
}

#shopping .lineB:hover {
    border-bottom: 1px solid black;
}

.posi {
    position: absolute;
    right: 0;
    top: 180px;
    position: fixed;
}

/* Thetop */
.Thetop {
    height: 35px;
    background: #f7f7f7;
    border-bottom: 1px solid #e3e3e3;
}

.Thetop .left a {
    font-size: 12px;
    line-height: 12px;
    margin-top: 12px;
    float: left;
}

.Thetop .left a:nth-child(1) {
    color: #666;
    margin-right: 8px;
}

.Thetop .left a:nth-child(2) {
    color: #da3a4c;
}

.Thetop .left span {
    float: left;
    height: 10px;
    width: 10px;
    border-right: 1px solid #dedede;
    margin-top: 13px;
}

.Thetop .right {
    float: right;
}

.Thetop .right .no1,
.no2 {
    height: 35px;
    float: left;
    width: 80px;
    padding-left: 10px;
    box-sizing: border-box;
    position: relative;
}

.Thetop .right .no1:hover {
    background: white;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    width: 81px;
    box-sizing: border-box;
}

.Thetop .right .no1:hover .sl {
    display: block;
}

.Thetop .right .no2:hover .sl2 {
    display: block;
}

.Thetop .right .no2:hover {
    background: white;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    width: 81px;
    box-sizing: border-box;
}

.Thetop .right .no1:hover span {
    transform: rotate(180deg)
}

.Thetop .right .no2:hover span {
    transform: rotate(180deg);
}

.Thetop .right a {
    float: left;
    font-size: 12px;
    line-height: 12px;
    margin-top: 12px;
    color: #666;
}

.Thetop .right a:nth-child(1)+span {
    float: left;
    height: 5px;
    width: 10px;
    background: url(../images/fn_g_header.png) no-repeat top left;
    background-position: -138px -27px;
    margin-top: 16px;
    margin-left: 3px;
    transition: transform 0.5s;
}

.Thetop .right a:nth-child(3)+span {
    float: left;
    height: 5px;
    width: 10px;
    background: url(../images/fn_g_header.png) no-repeat top left;
    background-position: -138px -27px;
    margin-top: 16px;
    margin-left: 5px;
    transition: transform 0.5s;
}

.right .no1 .sl {
    height: 35px;
    background: white;
    position: absolute;
    top: 35px;
    left: -1px;
    width: 81px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #dedede;
    border-top: none;
    display: none;
    z-index: 999;
}

.right .no2 .sl2 {
    height: 130px;
    background: white;
    position: absolute;
    top: 35px;
    left: -1px;
    width: 81px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #dedede;
    border-top: none;
    display: none;
    z-index: 999;
}

.right .none {
    float: left;
    height: 10px;
    width: 10px;
    border-left: 1px solid #dedede;
    margin-top: 13px;
    margin-left: 15px;
}

.right .no3 {
    float: left;
}

.right .no3 a:nth-child(1) {
    display: block;
    width: 10px;
    height: 16px;
    background: url(../images/fn_g_header.png) no-repeat -136px -44px;
    margin-top: 10px;
    margin-right: 8px;
}

.right .no3:hover a:nth-child(1) {
    background-position: -129px -75px;
}

.right .no4 {
    float: left;
    position: relative;
}

.right .no4 .wx {
    width: 18px;
    height: 18px;
    background: url(../images/fn_g_header.png) no-repeat -89px -75px;
    margin-top: 8px;
    margin-left: 5px;
}

.right .no4 .wximg {
    width: 135px;
    height: 126px;
    border: 1px solid #ccc;
    position: absolute;
    right: -8px;
    top: 34px;
    background: white;
    padding-top: 5px;
    box-sizing: border-box;
    display: none;
}

.right .no4 .wximg span {
    width: 25px;
    height: 25px;
    color: white;
    position: absolute;
    top: -11px;
    right: -10px;
}

.right .no4 .wximg p {
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}

.right .no4 .wximg img {
    width: 70px;
    height: 70px;
    margin-left: 32px;
}

.right .no4:hover .wximg {
    display: block;
}

/* main */
.main {
    height: 605px;
    background: url(../images/null_cart@3x.png) no-repeat 350px center;
    background-size: 400px;
    /* overflow: auto    */
    /* position: relative; */
}

.main .car {
    height: 33px;
    border-bottom: 2px solid red;
    line-height: 20px;
    font-size: 20px;
    display: block;
    width: 60px;
    color: red;
}

.main .shangping {
    position: relative;
    margin-bottom: 20px;
}

.main .none {
    width: 400px;
    box-sizing: border-box;
    /* display: none; */
    position: absolute;
    top: 220px;
    left: 600px;
}

.main .none p:nth-child(1) {
    color: orange;
    font-size: 23px;
    margin-bottom: 30px;
}

.main .none p:nth-child(2) {
    font-size: 12px;
    color: #666;
    margin-bottom: 30px;
}

.main .none a {
    display: block;
    width: 80px;
    height: 30px;
    background: orange;
    border-radius: 5px;
    color: white;
    text-align: center;
    line-height: 30px;
}

.main .shangping .item {
    height: 30px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    font-size: 12px;
    line-height: 30px;
    width: 1188px;
}

.main .shangping .item span:nth-child(1) {
    margin-left: 330px;
}

.main .shangping .item span:nth-child(2) {
    margin-left: 313px;
}

.main .shangping .item span:nth-child(3) {
    margin-left: 42px;
}

.main .shangping .item span:nth-child(4) {
    margin-left: 78px;
}

.main .shangping .item span:nth-child(5) {
    margin-left: 95px;
    margin-right: 39px;
}

.main .shangping .details {
    overflow: auto;
    max-height: 400px;
}

.main .shangping .details ul li {
    height: 102px;
    border: 1px solid #ccc;
    border-top: none;
    display: flex;
}

.main .shangping .details ul li .sp {
    width: 620px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.main .shangping .details ul li .sp img {
    width: 63px;
    height: 63px;
    margin-left: 20px;
    margin-right: 20px;
}

.main .shangping .details ul li .sp a {
    font-size: 12px;
    color: black;
}

.main .shangping .details ul li .dj {
    height: 100%;
    border-right: 1px solid #ccc;
    text-align: center;
    font-size: 12px;
    width: 110px;
    line-height: 102px;
}

.main .shangping .details ul li .hyj {
    height: 100%;
    border-right: 1px solid #ccc;
    text-align: center;
    font-size: 12px;
    width: 110px;
    line-height: 102px;
}

.main .shangping .details ul li .sl {
    height: 100%;
    border-right: 1px solid #ccc;
    width: 140px;
    text-align: center;
    line-height: 102px;
}

.main .shangping .details ul li .sl button {
    background: white;
    border: 1px solid #ccc;
    outline: none;
    width: 30px;
    height: 30px;
}

.main .shangping .details ul li .xiaoji {
    width: 120px;
    height: 100%;
    border-right: 1px solid #ccc;
    text-align: center;
    line-height: 102px;
    font-size: 12px;
}

.main .shangping .details ul li .sancu {
    font-size: 12px;
    line-height: 102px;
    text-align: center;
    width: 65px;
}

.main .aggregate {
    height: 150px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.main .aggregate .aggRight {
    font-size: 12px;
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    align-content: space-around;
    box-sizing: border-box;
}

.main .aggregate .aggRight p {
    width: 250px;
    padding-right: 50px;
}

.main .aggregate .aggRight p:nth-child(1) {
    padding-left: 100px;
}

.main .aggregate .aggRight p:nth-child(1) span {
    margin-left: 26px;
}

.main .aggregate .aggRight p:nth-child(2) {
    padding-left: 112px;
}

.main .aggregate .aggRight p:nth-child(2) span {

    margin-left: 26px;
}

.main .aggregate .aggRight p:nth-child(4) {
    padding-left: 53px;
}

.main .aggregate .aggRight p:nth-child(4) span {
    color: red;
    font-size: 18px;
    margin-left: 9px;
}

.main .aggregate .aggRight i {
    width: 300px;
    border-bottom: 1px solid #ccc;
    display: inline-block;
}

.main .jxgw {
    width: 150px;
    height: 36px;
    display: inline-block;
    background: #f7f7f7;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 36px;
    color: black;
    margin-left: 881px;
}

.main .qjs {
    text-align: center;
    line-height: 36px;
    color: white;
    width: 150px;
    height: 36px;
    display: inline-block;
    background: #e01d20;
    border: 1px solid #e01d20;
}

/* main2 */
.main2 {
    height: 162px;
    background: #f5f5f5;
    margin-top: 100px;
}

.main2 .ul {
    border: 1px solid #f5f5f5;
    width: 840px;
    display: inline-block;
}

.main2 .ul ul {
    display: flex;
    margin-top: 9px;
}

.main2 .ul ul li {
    margin: 0px 12px 0px 12px;
}

.main2 .ul ul li a {
    color: #666;
    font-size: 12px;
}

.main2 .ul ul li:nth-child(1) {
    color: #333;
    font-size: 13px;
    margin-top: 3.5px;
}

.main2 .li {
    float: right;
    height: 100px;
    width: 160px;
    position: relative;
}

.main2 .li ul {
    display: inline-block;
    margin-top: 33px;
}

.main2 .li ul li {
    text-align: right;
}

.main2 .li ul li:nth-child(1) {
    font-size: 12px;
    line-height: 12px;
    color: #666;
    margin-bottom: 12px;
}

.main2 .li ul li:nth-child(2) {
    font-size: 14px;
    line-height: 14px;
    color: black;
}

.main2 .li p {
    display: inline-block;
    background: url(../images/phone.png) no-repeat center center;
    width: 52px;
    height: 52px;
    position: absolute;
    top: 23px;
    left: 110px;
}

/* footer */
.footer {
    height: 100px;
    background: #666;
}

.footer .p {
    padding-top: 35px;
}

.footer .p p {
    font-size: 13px;
    color: white;
    line-height: 13px;
    margin-bottom: 12px;
}